@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url(../../public/assets/background-noise.png) #0d0c22;
}

.greetings {
  color: #535353;
  opacity: 0.13;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .greetings {
    font-size: 120px;
  }
}
